.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
Package.resolved
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
amqp-rabbitmq-0.9.1.json
rabbitmq_codegen
